.inst-link{
    padding: 0xp 1rem;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.inst-link img{
    object-fit: contain;
    display: block;
}

.swiper{
    width: 100%;
    height:100% ;
}

.follow-swiper{
    width: calc(100% - 5%);
    margin: auto;
}