@import '../../style/main.css';


.Img-Off-text{
    background-color: #D82552;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    opacity: 1;
    animation: Offer-Glow 1.5s linear infinite alternate-reverse ;
}

@keyframes Offer-Glow {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}

.Img-Off-text h1{
    padding: 1rem 1.8rem;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
}

.Img-Off-text h1 span{
    font-weight: 400;
    font-size: 16px;
}

.offer-Text{
    max-width: 90%;
    margin-inline: auto;
}

.offer-Text .Off-price{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 1.9rem;
    color: #D82552;
    font-weight: 600;
}

.Off-price p{
    font-size: 2rem;
}


.Offer-link-wrp .OfferLink h1{
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.Offer-link-wrp p{
    padding-block: 1rem;
    opacity: 0.7;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

ul.countdown-time li{
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem 1rem;
    text-align: center;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
}

ul.countdown-time li .time-number{
    font-size: 3rem;
    font-weight: 800;
}

ul.countdown-time li .time-text{
    opacity: 0.5;
    font-size: 1.5rem;
}
