.card-client {
  /* background:#87CEEB; */
  min-width: 16rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #87CEEB;
  box-shadow: 0 6px 10px #2a2a2a62;
  border-radius: 10px;
  text-align: center;
  color: #003A6F;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  border: 4px solid transparent;
  border-radius: 10px;
  background: #E0FFFF;
  box-shadow: inset -6px 6px 50px #d5f2f2,
              inset 6px -6px 50px #ebffff;
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card-client:hover .user-picture{
  border: 4px solid #87CEEB;
}

.user-picture img{
  display: block;
  width: 100%;
  margin: auto;
  object-fit:contain;
}

.name-client {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.3rem;
}

.name-client span {
  display: block;
  margin: .4rem 0%;
  font-weight: 200;
  font-size: 1rem;
}

.social-media{
  margin-top: 20px;
}

.social-media a {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  width: 1.3rem;
}

.social-media a svg {
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #003A6F;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  color: #E0FFFF;
  border-radius: 5px;
  font-size: 0.6rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}



.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}