@import '../../style/main.css';

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper{
    width: 100%;
    height: 100%;
}

.slider-wrapper {
    overflow: hidden;
    border-radius: 8px;
}

.slide{
    min-height: 260px;
}

.slide-text{
    top: 0%;
    left: 0%;
    font-family: "Poppins", sans-serif;
    padding-left: 2.4rem;
    width: 70%;
    height: 100%;
}

.slide-text p{
    font-size: 2rem;
    font-weight: 500;
    color: #ff2d61;
    animation: Text_show 0.5s linear 0s 1 forwards;
}

.slide-text h1{
    font-size: 4rem;
    font-weight: 700;
    margin: 1.2rem 0%;
    animation: Text_show 1s linear 0.5s 1 forwards;
}

.slide-text h1 span{
    font-size: 4.5rem;
    font-weight: 700;
    padding: 0px 0.8rem ;
    color: #ff2d61;
}

.slide-text #shopLink{
    width: calc(100% - 60%);
    font-weight: 500;
    padding: 1.5rem;
    border-radius: 6px;
    font-size: 1.4rem;
    background-color: #fff;
    transition: all 0.3s linear;
    animation: Text_show 1s linear 1s 1 forwards;
}

.slide-text #shopLink:hover{
    color: #fff;
    background-color: #D51243;
}

.slide-text p ,
.slide-text h1 ,
.slide-text #shopLink{
    transform:translateY(100%);
    opacity: 0;
    filter: blur(3px);
} 

@keyframes Text_show{
    0%{
        transform:translateY(100%);
        opacity: 0;
        filter: blur(3px);
    }
    100%{
        transform:translateY(0%);
        opacity: 1;
        filter: blur(0px);
    }
}


.side-images .banner{
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    min-height:48%;
}

.side-images .banner:hover img{
    transform: scale(1.1);
    transition: all 0.3s linear;
}

.side-images .banner .Img-text{
    font-family: "Poppins", sans-serif;
    top: 0%;
    left: 0%;
    padding: 1.2rem 1.8rem;
    width: 100%;
    height: 100%;
}

.banner .Img-text h3{
    color:#E17F98;
    font-weight: 500;
    font-size: 1.6rem;
}

.banner .Img-text h1{
    color:#222;
    font-weight: 600;
    font-size: 2rem;
}



@media (max-width:992px) {
    .main-box{
        flex-flow: column ;
    }

    .slider-wrapper{
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .side-images{
        margin: 0rem 0.5rem;
        flex-flow: row wrap;
        max-width: 100% ;
    }
    .side-images .banner{
        width: 48%;
        margin: 0% ; 
    }
}

@media (max-width:768px) {

    .slide-text h1{
        font-size: 2rem;
    }
    
    .slide-text h1 span{
        font-size: 2.5rem;
    }

    .slide-text #shopLink{
        padding: 1rem;
        font-size: 1.2rem;
    }

    .side-images{
        margin: 0rem 0.5rem;
    }
    .side-images .banner{
        width: 100%;
        margin: 1rem 0% ; 
    }
}