.swiper{
    width: 100%;
    height: 100%;
}


.swiper-pagination-bullet{
    height: 6px;
    padding-inline: 1rem;
    border-radius: 0%;
}

.swiper-pagination-bullet-active{
    background-color: #D51243;
}

.slide{
    position: relative;
}

.slide .slide-img{
    display: block;
    margin: auto;
    width: 100%;
    height: 480px;
    aspect-ratio:16/9;
    object-fit: cover;    
    border-radius: 5px;
}


.slide .slide-text{
    position: absolute;
    inset: 0%;
    margin: auto;
    width: 96%;
    height: 80%;

    display: flex;
    flex-flow: column ;
    align-items: start;
    justify-content: center;
}

.slide .slide-text p.slide-sub-heading{
    font-size: 1.6rem;
    font-weight: 600;
    color:#D51243 ;
}

.slide .slide-text h1.slide-heading{
    text-transform: capitalize;
    font-size: 3.2rem;
    font-weight: 700;
}

.slide .slide-text h1.slide-heading span{
    color: #D51243;
    font-size: 3rem;
    display: inline-block;
    padding: 0px 0.5rem;
}

.slide .slide-text #slide-shopLink{
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.slide .slide-text #slide-shopLink:hover{
    background-color: #D51243;
    color: #FFFFFF;
}

@media (max-width:768px){
    .slide .slide-img{
        height: 100%;
    }
    .slide .slide-text p.slide-sub-heading{font-size: 1.2rem;}
    .slide .slide-text h1.slide-heading{font-size: 2.3rem;}
    .slide .slide-text h1.slide-heading span{font-size: 1.8rem;}
    .slide .slide-text  #slide-shopLink{padding: .7rem 1rem;}
}

@media (max-width:576px){
    .slide .slide-text p.slide-sub-heading{font-size: 1rem;}
    .slide .slide-text h1.slide-heading{font-size: 2rem;}
    .slide .slide-text h1.slide-heading span{font-size: 1.4rem;}
    .slide .slide-text  #slide-shopLink{
        font-size: .9rem;
        padding: .4rem .5rem;}
}


/* Slider banner img */

.aside-img-bar .img-box .banner img{
    aspect-ratio: 2/1;
}

.aside-img-bar .img-box:hover .banner img{
    transform: scale(1.1);
    transition: all 0.3s linear;
}


.banner .Img-text h3{
    color:#E17F98;
    font-weight: 500;
    font-size: 1.3rem;
}

.banner .Img-text h1{
    color:#222;
    font-weight: 600;
    font-size: 1.6rem;
}


