.bg-blur{
    /* From https://css.glass */
background: rgba(135, 206, 235, 0.55);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
transition: all 1s linear;
}


#mobileNav.bg-blur{
    /* From https://css.glass */
background: rgba(135, 206, 235, 0.9);
}


